.logo {
  width: 8rem;
  height: 2rem;

  border: 2px solid #888;

  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-button {
  margin-right: 1rem;
  margin-left: auto;
}
