<header>
  <mat-toolbar class="header">
    <button mat-icon-button class="nav-menu__button" [matMenuTriggerFor]="navMenu">
      <mat-icon class="nav-menu__icon">menu</mat-icon>
    </button>

    <p class="title" *ngIf="isLogged">Hola {{ userType }}</p>

    <app-logo class="brand__logo"></app-logo>
  </mat-toolbar>
</header>

<!-- Menu items -->

<mat-menu #navMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="landing">Landing Page</button>
  <button mat-menu-item [matMenuTriggerFor]="admin">Administración</button>
  <button mat-menu-item [matMenuTriggerFor]="auth">Auth</button>

  <ng-container *ngIf="isLogged">
    <mat-divider></mat-divider>
    <button mat-menu-item [matMenuTriggerFor]="account">Mi cuenta</button>
    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
  </ng-container>
</mat-menu>

<mat-menu #landing="matMenu">
  <button mat-menu-item [routerLink]="'/landing'">Inicio</button>
  <button mat-menu-item [routerLink]="'/landing/news'">Noticias</button>
  <button mat-menu-item [routerLink]="'/landing/projects'">Proyectos</button>
</mat-menu>

<mat-menu #admin="matMenu">
  <button mat-menu-item [routerLink]="'/admin'">Inicio</button>
  <button mat-menu-item [routerLink]="'/admin/projects'">Proyectos</button>
  <button mat-menu-item [routerLink]="'/admin/news'">Noticias</button>
  <button mat-menu-item [routerLink]="'/admin/donors'">Donantes</button>
  <button mat-menu-item [routerLink]="'/admin/admins'">Administradores</button>
</mat-menu>

<mat-menu #auth="matMenu">
  <button mat-menu-item [routerLink]="'/auth/login'">Iniciar sesión</button>
  <button mat-menu-item [routerLink]="'/auth/register'">Registrarse</button>
  <button mat-menu-item [routerLink]="'/auth/forgot-password'">Restablecer contraseña</button>
</mat-menu>

<mat-menu #account="matMenu">
  <button mat-menu-item (click)="deleteAccount()">Eliminar mi cuenta</button>
</mat-menu>
