.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0;

  background-color: #009993;
}

.header__content-limiter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  padding: 0 1rem;
}

.logo,
.user-profile-menu {
  justify-self: flex-end;
}

@media screen and (max-width: 960px) {
  .logo {
    padding: 0.25rem 0;
  }
}

@media screen and (min-width: 960px) {
  .header__content-limiter {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo {
    order: -1;
    justify-self: flex-start;
  }
}

.call-to-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  justify-self: flex-end;
}

.call-to-action__button--primary {
  background-color: #30aaa6;

  color: #fff;
}

.call-to-action__button--secondary {
  border-color: #30aaa6;

  color: #fff;
}
