<app-modal-container class="form-container" [size]="'small'">
  <h1 class="form-container__title--primary">Registro de administrador</h1>
  <p class="form-container__description">
    Agregá el email de la persona designada para que empiece a ser administrador
  </p>

  <div class="form__container">
    <form class="form" (ngSubmit)="setNewAdmin()" [formGroup]="form">
      <!-- Email -->
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          placeholder="Ingresá tu correo electrónico"
          type="email"
          autocomplete="email"
          formControlName="email"
        />
        <mat-error>{{ validation.getErrors(form.controls['email']) }}</mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button
        type="submit"
        class="form__submit"
        [color]="'primary'"
        mat-flat-button
        [disabled]="!form.valid"
      >
        Agregar administrador
      </button>
    </form>
  </div>
</app-modal-container>
