<div class="container">
  <p class="user-profile__title">Hola {{ userType }}</p>

  <button type="button" mat-icon-button class="user-menu__button" [matMenuTriggerFor]="user">
    <mat-icon class="user-menu__icon">expand_more</mat-icon>
  </button>
</div>

<mat-menu #user="matMenu">
  <button type="button" mat-menu-item [matMenuTriggerFor]="account">Mi cuenta</button>
  <button
    type="button"
    mat-menu-item
    *ngIf="(auth.user$ | async)?.claims?.admin ?? false"
    [matMenuTriggerFor]="management"
  >
    Gestión
  </button>
  <button type="button" mat-menu-item (click)="auth.logout()">Cerrar sesión</button>
</mat-menu>

<mat-menu #account="matMenu">
  <button type="button" mat-menu-item (click)="auth.deleteUser()">Eliminar mi cuenta</button>
</mat-menu>

<mat-menu #management="matMenu">
  <button type="button" mat-menu-item [routerLink]="'/admin/admins'">Administradores</button>
</mat-menu>
