<app-modal-container [size]="'small'">
  <h1 class="title">Registrate</h1>

  <p class="social-register__title">Usá una de tus redes sociales</p>
  <div class="social-register__buttons">
    <app-social-button [method]="'google'" (clicked)="register('google')"></app-social-button>
    <app-social-button [method]="'facebook'" (clicked)="register('facebook')"></app-social-button>
  </div>

  <p class="email-register__title">O usá tu correo electrónico</p>
  <form class="register-form" (ngSubmit)="register('email')" [formGroup]="registerForm">
    <div class="register-form__field-group">
      <mat-form-field class="register-form__field" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ingresá tu nombre"
          type="text"
          autocomplete="given-name"
          formControlName="firstName"
        />
        <mat-error>{{ getErrors('firstName') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="register-form__field" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          placeholder="Ingresá tu apellido"
          type="text"
          autocomplete="family-name"
          formControlName="lastName"
        />
        <mat-error>{{ getErrors('lastName') }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Ingresá tu correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
      <mat-error>{{ getErrors('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Contraseña"
        [type]="hidePassword.field1 ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword.field1 = !hidePassword.field1"
        [attr.aria-pressed]="hidePassword.field1"
      >
        <mat-icon>{{ hidePassword.field1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ getErrors('password') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        placeholder="Repetir contraseña"
        [type]="hidePassword.field2 ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="passwordConfirm"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword.field2 = !hidePassword.field2"
        [attr.aria-pressed]="hidePassword.field2"
      >
        <mat-icon>{{ hidePassword.field2 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ getErrors('passwordConfirm') }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="register-form__submit"
      [color]="'primary'"
      mat-flat-button
      [disabled]="!registerForm.valid"
    >
      Registrarse
    </button>
  </form>

  <p class="extra-links__login">
    <span class="extra-links__text">¿Ya tenés una cuenta?</span>
    <a class="extra-links__button" mat-button [color]="'primary'" [routerLink]="'/auth/login'"
      >Iniciá sesión aquí</a
    >
  </p>
</app-modal-container>
