<app-modal-container>
  <h1 class="title">Registro de usuario</h1>

  <p class="subtitle">Usa una de tus redes sociales</p>
  <div class="button-group">
    <button class="button" mat-stroked-button>Google</button>
    <button class="button" mat-stroked-button>Facebook</button>
  </div>

  <p class="subtitle">O usa tu correo electrónico</p>
  <form class="form" (ngSubmit)="register()" [formGroup]="registerForm">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Nombre completo</mat-label>
      <input
        matInput
        placeholder="Ingrese su nombre y apellido"
        type="text"
        autocomplete="name"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Contraseña"
        type="password"
        autocomplete="new-password"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field class="field" appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        placeholder="Repetir contraseña"
        type="password"
        autocomplete="new-password"
        formControlName="passwordConfirm"
      />
    </mat-form-field>

    <button
      type="submit"
      class="submit"
      mat-stroked-button
      [disabled]="!registerForm.valid"
    >
      Registrarse
    </button>
  </form>

  <p class="signup">
    ¿Ya tiene una cuenta?
    <a mat-button [routerLink]="'/auth/login'">Inicia sesión aquí</a>
  </p>
</app-modal-container>
