/* Social register */

.social-register__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

/* Email register */

.email-register__title {
  margin-top: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-form__field {
  width: 100%;
  padding-bottom: 0.5rem;
}

.register-form__submit {
  width: 100%;
}

/* Extra links */

.extra-links__login {
  margin-top: 1rem;
}
