<app-modal-container>
  <h1 class="title">Registrate</h1>

  <p class="social-register__title">Usá una de tus redes sociales</p>
  <div class="social-register__buttons">
    <app-social-button [method]="'google'" (clicked)="register('google')"></app-social-button>
    <app-social-button [method]="'facebook'" (clicked)="register('facebook')"></app-social-button>
  </div>

  <p class="email-register__title">O usá tu correo electrónico</p>
  <form class="register-form" (ngSubmit)="register('email')" [formGroup]="registerForm">
    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Nombre completo</mat-label>
      <input
        matInput
        placeholder="Ingresá tu nombre y apellido"
        type="text"
        autocomplete="name"
        formControlName="name"
      />
      <mat-error>{{ getErrors('name') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
      <mat-error>{{ getErrors('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Contraseña"
        type="password"
        autocomplete="new-password"
        formControlName="password"
      />

      <mat-error>{{ getErrors('password') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="register-form__field" appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        placeholder="Repetir contraseña"
        type="password"
        autocomplete="new-password"
        formControlName="passwordConfirm"
      />
      <mat-error>{{ getErrors('passwordConfirm') }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="register-form__submit"
      mat-stroked-button
      [disabled]="!registerForm.valid"
    >
      Registrarse
    </button>
  </form>

  <p class="extra-links__login">
    <span class="extra-links__text">¿Ya tenés una cuenta?</span>
    <a class="extra-links__button" mat-button [routerLink]="'/auth/login'">Iniciá sesión aquí</a>
  </p>
</app-modal-container>
