<app-modal-container>
  <h1>Donación</h1>
  <mat-stepper
    class="stepper"
    [selectedIndex]="selectedIndex"
    [disableRipple]="true"
    [labelPosition]="(layout.isDesktop$ | async) === true ? 'end' : 'bottom'"
    [orientation]="(layout.isDesktop$ | async) === true ? 'horizontal' : 'vertical'"
    [linear]="true"
    #stepper
  >
    <mat-step label="Seleccioná el monto" [completed]="stepperStatus[0]" [editable]="false">
      <div class="content">
        <app-amount-selection-step
          (stepCompleted)="setStepperStatus(0, $event)"
          (donationAmount)="amount = $event"
          (donationType)="type = $event"
        >
        </app-amount-selection-step>
      </div>

      <div class="actions">
        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          [disabled]="!stepperStatus[0]"
          (click)="handleAmountSelectionComplete()"
        >
          Siguiente
        </button>
      </div>
    </mat-step>

    <mat-step label="Realizá el pago" [completed]="stepperStatus[1]" [editable]="false">
      <div class="content">
        <app-payment (stepCompleted)="goNext(stepper, 1)" [isRecurring]="state === 'recurring'">
        </app-payment>
      </div>

      <!-- <div class="actions">
        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          [disabled]="!stepperStatus[1]"
        >
          Siguiente
        </button>
      </div> -->
    </mat-step>

    <mat-step label="Finalizá la donación" [completed]="stepperStatus[2]" [editable]="false">
      <div class="content">
        <app-recurring-payment *ngIf="state === 'recurring'"></app-recurring-payment>

        <app-failure-payment *ngIf="state === 'failure'"></app-failure-payment>

        <app-pending-payment *ngIf="state === 'pending'"></app-pending-payment>

        <app-success-payment *ngIf="state === 'success'"></app-success-payment>
      </div>

      <div class="actions">
        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          *ngIf="state === 'success'"
          (click)="finalizeDonation('success')"
        >
          Ver mi certificado
        </button>

        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          *ngIf="state === 'failure'"
          (click)="finalizeDonation('failure')"
        >
          Intentar nuevamente
        </button>

        <button type="button" [color]="'primary'" mat-button matStepperNext [routerLink]="'/donor'">
          Volver a la página principal
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</app-modal-container>
