<app-modal-container>
  <!-- [linear]="true" -->
  <h1>Donación</h1>
  <mat-stepper
    class="stepper"
    [disableRipple]="true"
    [labelPosition]="(layout.isDesktop$ | async) === true ? 'end' : 'bottom'"
    [orientation]="(layout.isDesktop$ | async) === true ? 'horizontal' : 'vertical'"
  >
    <mat-step [editable]="false" label="Seleccioná el monto" [completed]="stepperStatus[0]">
      <div class="content">
        <app-amount-selection-step
          (stepCompleted)="setStepperStatus(0, $event)"
        ></app-amount-selection-step>
      </div>
      <div class="actions">
        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          [disabled]="stepperStatus[0]"
        >
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step [editable]="false" label="Realizá el pago" [completed]="stepperStatus[1]">
      <div class="content">
        <app-payment (stepCompleted)="setStepperStatus(1, $event)"></app-payment>
      </div>
      <div class="actions">
        <button
          type="button"
          [color]="'primary'"
          mat-flat-button
          matStepperNext
          [disabled]="stepperStatus[1]"
        >
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step [editable]="false" label="Finalizá la donación" [completed]="stepperStatus[2]">
      <div class="content">
        <!-- <app-pending-payment (stepCompleted)="setStepperStatus(2, $event)"></app-pending-payment> -->
        <!-- <app-failure-payment (stepCompleted)="setStepperStatus(2, $event)"></app-failure-payment> -->
        <app-success-payment (stepCompleted)="setStepperStatus(2, $event)"></app-success-payment>
      </div>

      <div class="actions">
        <button type="button" [color]="'primary'" mat-flat-button matStepperNext>
          Ver mi certificado
          <!-- Intentar nuevamente -->
        </button>
        <button
          type="button"
          [color]="'primary'"
          mat-button
          matStepperNext
          [disabled]="stepperStatus[2]"
          [routerLink]="'/donor'"
        >
          Volver a la página principal
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</app-modal-container>
