<app-modal-container *ngIf="projectData; else loading">
  <div class="desktop-content" *ngIf="(layout.isDesktop$ | async) === true; else isMobile">
    <app-toolbar
      [title]="projectData.name"
      [backButton]="backButtonAction"
      [fullWidth]="true"
      [titleAlignCenter]="true"
    ></app-toolbar>

    <div class="metrics-number-container">
      <app-metrics-numbers
        [value]="98"
        description="Cantidad de donantes"
        type="number"
      ></app-metrics-numbers>
      <app-metrics-numbers
        [value]="98605045655"
        description="Dinero recaudado"
        type="currency"
      ></app-metrics-numbers>
      <app-metrics-numbers
        [value]="9845464"
        description="Dinero restante"
        type="currency"
        color="red"
      ></app-metrics-numbers>
    </div>

    <!-- (click)="donateToProject(projectData.id)" -->
    <button class="header-button" type="button" [color]="'primary'" mat-stroked-button>
      Ver gráficos
    </button>

    <app-list-alert
      description="Hasta el momento, no se han realizado donaciones"
      [alertCondition]="false"
    >
      <app-metrics-list></app-metrics-list>
      <mat-paginator></mat-paginator>
    </app-list-alert>
  </div>
</app-modal-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #isMobile>
  <app-alert-message
    title="No se puede acceder"
    description="Esta página es accesible solo desde una computadora o un dispositivo con una pantalla más grande"
  ></app-alert-message>
</ng-template>
