<app-modal-container size="small" backgroundColor="#009993" padding="1.5rem">
  <div *ngIf="donation" class="main-container">
    <app-toolbar [buttons]="toolbarButtons" [fullWidth]="true" [withMargin]="false"></app-toolbar>
    <div class="content">
      <app-logo class="logo" color="#009993" type="vertical"></app-logo>
      <div class="caption">
        <h1 class="title mat-title">
          ¡Muchas gracias {{ ((auth.user$ | async)?.displayName?.split(' ') ?? [''])[0] }}!
        </h1>

        <p class="description mat-body-2">
          Te agradecemos por apoyar la misión del proyecto
          <span class="emphasis-1">{{ donation.projectName }}</span> con tu donación
        </p>
      </div>
      <p class="date emphasis-2">{{ donation.createdDate }}</p>
    </div>
  </div>
</app-modal-container>
