<app-modal-container size="small" backgroundColor="#009993" padding="1.5rem">
  <div class="main-container">
    <app-toolbar [buttons]="toolbarButtons" [fullWidth]="true" [withMargin]="false"></app-toolbar>
    <div class="content">
      <app-logo class="logo" color="#009993" type="vertical"></app-logo>
      <div class="caption">
        <h1 class="title mat-title">¡Muchas gracias Lucía!</h1>

        <p class="description mat-body-2">
          Te agradecemos por apoyar la misión del proyecto "Escuela de Mar y Playa" con tu donación
        </p>
      </div>
      <p class="date">12/04/2021</p>
    </div>
  </div>
</app-modal-container>
