<app-modal-container>
  <app-toolbar [toolbarData]="toolbarData"></app-toolbar>

  <mat-list class="admin-list">
    <app-list-alert
      alert="No hay administradores"
      [alertCondition]="((adminsService.admins$ | async)?.length ?? 0) === 0"
    ></app-list-alert>
    <ng-container *ngFor="let admin of adminsService.admins$ | async; index as i">
      <app-list-item
        [title]="admin.displayName"
        [subtitle]="admin.email"
        icon="delete_outline"
        [disabled]="((adminsService.admins$ | async)?.length ?? 1) <= 1"
        (clickEvent)="adminsService.deleteAdmin(admin.uid)"
      ></app-list-item>
    </ng-container>
  </mat-list>
</app-modal-container>
