:host {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;

  padding: 0 1rem;
}

.full-width {
  padding: 0;
}

.title {
  margin: 0;
}

.left-buttons {
  display: flex;
  justify-content: flex-start;
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
}

.no-dense {
  gap: 1rem;
}

.dense {
  gap: 0.5rem;
}

.button--primary {
  border-radius: 0.25rem;

  background-color: #009993;

  color: #fff;
}
