<div [ngClass]="['container', fullWidth ? 'full-width' : '']">
  <h1 *ngIf="title" class="title">{{ title }}</h1>

  <ng-container *ngFor="let section of buttons">
    <div [ngClass]="[section.style === 'primary' ? 'no-dense' : 'dense']">
      <ng-container *ngFor="let item of section.data">
        <button
          type="button"
          *ngIf="item.action.type === 'button' && section.style === 'primary'"
          class="button--primary"
          mat-icon-button
          [matTooltip]="item.label"
          (click)="item.action.click()"
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        </button>

        <button
          type="button--secondary"
          *ngIf="item.action.type === 'button' && section.style === 'secondary'"
          mat-button
          color="primary"
          [matTooltip]="item.label"
          (click)="item.action.click()"
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.label.toUpperCase() }}
        </button>

        <button
          type="button"
          *ngIf="item.action.type === 'menu'"
          class="button--primary"
          mat-icon-button
          [matTooltip]="item.label"
          [matMenuTriggerFor]="buttonMenu"
          (click)="item.action.click()"
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>

<mat-menu #buttonMenu="matMenu" class="menu">
  <ng-content></ng-content>
</mat-menu>
