<app-modal-container [size]="'small'">
  <h1 class="title">¡Queremos conocerte!</h1>

  <form class="extra-data-form" (ngSubmit)="submitExtraData()" [formGroup]="extraDataForm">
    <mat-form-field class="extra-data-form__field" appearance="outline">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
        placeholder="Ingresá tu fecha de nacimiento"
        autocomplete="bday"
        formControlName="birthday"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error>{{ getErrors('birthday') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="extra-data-form__field" appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        placeholder="Ingresá tu número de teléfono"
        type="tel"
        autocomplete="tel"
        formControlName="phoneNumber"
      />
      <mat-error>{{ getErrors('phoneNumber') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="extra-data-form__field" appearance="outline">
      <mat-label>Provincia</mat-label>

      <mat-select
        autocomplete="address-level1"
        (selectionChange)="getDepartmentsByProvince($event.value)"
        formControlName="province"
      >
        <mat-option *ngFor="let province of provinces" [value]="province.value">
          {{ province.value }}
        </mat-option>
      </mat-select>

      <mat-error>{{ getErrors('province') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="extra-data-form__field" appearance="outline">
      <mat-label>Localidad</mat-label>

      <mat-select autocomplete="address-level2" formControlName="department">
        <mat-option *ngFor="let department of departments" [value]="department.value">
          {{ department.value }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getErrors('department') }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="extra-data-form__submit"
      [color]="'primary'"
      mat-flat-button
      [disabled]="!extraDataForm.valid"
    >
      Continuar
    </button>
  </form>
</app-modal-container>
