<mat-card class="card__main-container">
  <div class="card__image">
    <img *ngIf="layout.isDesktop$ | async; else mobile" mat-card-md-image [src]="image" />
  </div>
  <div class="card__caption">
    <span *ngIf="(layout.isDesktop$ | async) !== true" class="card__status--secondary mat-body-2"
      >Dado de baja</span
    >
    <div class="card__header-info">
      <div class="card__info-container">
        <div class="card__info">
          <mat-card-title class="card__title">{{ title }}</mat-card-title>
          <mat-card-subtitle class="card__subtitle">{{ subtitle }}</mat-card-subtitle>
        </div>
        <span *ngIf="(layout.isDesktop$ | async) === true" class="card__status--primary mat-body-2"
          >Dado de baja</span
        >
      </div>
      <mat-card-actions class="card__actions">
        <button mat-icon-button [matMenuTriggerFor]="user"><mat-icon>more_vert</mat-icon></button>
      </mat-card-actions>
    </div>

    <mat-card-content class="card__content">
      <p>
        {{ description }}
      </p>
    </mat-card-content>
  </div>
</mat-card>

<mat-menu #user="matMenu">
  <button mat-menu-item (click)="action()">Editar detalles</button>
  <button mat-menu-item (click)="action()">Ver métricas</button>
  <button mat-menu-item (click)="action()">Dar de baja</button>
</mat-menu>

<ng-template #mobile>
  <img mat-card-image [src]="image" />
</ng-template>
