<mat-card class="card__main-container">
  <div class="card__image-container">
    <img class="card__image" [src]="image" />
  </div>
  <div class="card__caption">
    <span
      *ngIf="visibility === 'PRIVATE' && (layout.isDesktop$ | async) === false"
      class="card__status--secondary mat-body-2"
      >Dado de baja</span
    >
    <div class="card__header-info">
      <div class="card__info-container">
        <div class="card__info">
          <mat-card-title class="card__title">{{ title }}</mat-card-title>
          <mat-card-subtitle class="card__subtitle">{{ subtitle }}</mat-card-subtitle>
        </div>
        <span
          *ngIf="visibility === 'PRIVATE' && (layout.isDesktop$ | async) === true"
          class="card__status--primary mat-body-2"
          >Dado de baja</span
        >
      </div>
      <mat-card-actions class="card__actions">
        <button mat-icon-button [matMenuTriggerFor]="user" xPosition="before">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-actions>
    </div>

    <mat-card-content class="card__content">
      <p class="card__description">
        {{ description }}
      </p>
      <button
        type="button"
        class="card__main-action"
        [color]="'primary'"
        (click)="mainAction()"
        mat-button
      >
        Ver más detalles
      </button>
    </mat-card-content>
  </div>
</mat-card>

<mat-menu #user="matMenu">
  <ng-content></ng-content>
</mat-menu>
