.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;

  border-radius: 0.25rem;
  object-fit: cover;
}

.header__info {
  display: flex;
  flex-direction: column;
}

.status--secondary {
  margin-bottom: 1rem;

  color: #ad2d44;
  font-size: 16px;
  font-weight: bold;
}

.title {
  margin-bottom: 0.25rem;

  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.75rem;
}

.subtitle {
  margin-bottom: 0.5rem;

  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.action--share {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action--share__icon {
  width: 2rem;
  height: 2rem;

  color: rgba(0, 0, 0, 0.87);

  font-size: 2rem;
  line-height: 2rem;
}

.CTA {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;

  font-size: 20px;

  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  .image {
    height: 24rem;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0.5rem;

    font-size: 32px;
  }

  .subtitle {
    margin-bottom: 1.5rem;

    font-size: 20px;
  }

  .action--share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
  }
}
