<!-- Mobile Menu -->

<button
  type="button"
  mat-icon-button
  class="mobile-menu__toggle"
  *ngIf="(layout.isDesktop$ | async) === false"
  [matMenuTriggerFor]="mainMenu"
>
  <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
</button>

<mat-menu #mainMenu="matMenu">
  <!-- Sections -->
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
    Proyectos
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">people</mat-icon>
    Quienes somos
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">feed</mat-icon>
    Noticias
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
    Preguntas frecuentes
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
    Contacto
  </button>

  <!-- Navigation -->

  <mat-divider></mat-divider>
  <ng-container
    *ngFor="
      let item of (auth.user$ | async)?.isLogged && (auth.user$ | async)?.claims?.admin
        ? adminItems
        : donorItems
    "
  >
    <button type="button" class="mobile-menu__item" mat-menu-item [routerLink]="item.link">
      {{ item.name }}
    </button>
  </ng-container>
</mat-menu>

<!-- Desktop Menu -->

<div *ngIf="layout.isDesktop$ | async" class="desktop-menu__container">
  <ng-container
    *ngFor="
      let item of (auth.user$ | async)?.isLogged && (auth.user$ | async)?.claims?.admin
        ? adminItems
        : donorItems
    "
  >
    <button type="button" class="desktop-menu__item" mat-button [routerLink]="item.link">
      {{ item.name }}
    </button>
  </ng-container>
</div>
