<!-- Mobile Menu -->

<button
  type="button"
  mat-icon-button
  class="mobile-menu__toggle"
  *ngIf="(layout.isDesktop$ | async) === false"
  [matMenuTriggerFor]="mainMenu"
>
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #mainMenu="matMenu">
  <!-- Sections -->
  <button type="button" mat-menu-item>
    <mat-icon>work_outline</mat-icon>
    Proyectos
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">people</mat-icon>
    Quienes somos
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">feed</mat-icon>
    Noticias
  </button>
  <button type="button" mat-menu-item>
    <mat-icon>help_outline</mat-icon>
    Preguntas frecuentes
  </button>
  <button type="button" mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
    Contacto
  </button>

  <!-- Navigation -->

  <mat-divider></mat-divider>
  <ng-container
    *ngFor="
      let item of (auth.user$ | async)?.isLogged && (auth.user$ | async)?.claims?.admin
        ? adminItems
        : donorItems
    "
  >
    <button type="button" class="mobile-menu__item" mat-menu-item [routerLink]="item.link">
      {{ item.name }}
    </button>
  </ng-container>

  <!-- Others -->

  <mat-divider></mat-divider>
  <button type="button" mat-menu-item [matMenuTriggerFor]="donorMenu">Landing Page</button>
  <button type="button" mat-menu-item [matMenuTriggerFor]="adminMenu">Administración</button>
  <button type="button" mat-menu-item [matMenuTriggerFor]="authMenu">Auth</button>
</mat-menu>

<mat-menu #donorMenu="matMenu">
  <button type="button" mat-menu-item [routerLink]="'/donor'">Inicio</button>
  <button type="button" mat-menu-item [routerLink]="'/donor/news'">Noticias</button>
  <button type="button" mat-menu-item [routerLink]="'/donor/projects'">Proyectos</button>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <button type="button" mat-menu-item [routerLink]="'/admin'">Inicio</button>
  <button type="button" mat-menu-item [routerLink]="'/admin/projects'">Proyectos</button>
  <button type="button" mat-menu-item [routerLink]="'/admin/news'">Noticias</button>
  <button type="button" mat-menu-item [routerLink]="'/admin/donors'">Donantes</button>
  <button type="button" mat-menu-item [routerLink]="'/admin/admins'">Administradores</button>
</mat-menu>

<mat-menu #authMenu="matMenu">
  <button type="button" mat-menu-item [routerLink]="'/auth/login'">Iniciar sesión</button>
  <button type="button" mat-menu-item [routerLink]="'/auth/register'">Registrarse</button>
  <button type="button" mat-menu-item [routerLink]="'/auth/forgot-password'">
    Restablecer contraseña
  </button>
</mat-menu>

<!-- Desktop Menu -->

<div *ngIf="layout.isDesktop$ | async" class="desktop-menu__container">
  <ng-container
    *ngFor="
      let item of (auth.user$ | async)?.isLogged && (auth.user$ | async)?.claims?.admin
        ? adminItems
        : donorItems
    "
  >
    <button type="button" class="desktop-menu__item" mat-button [routerLink]="item.link">
      {{ item.name }}
    </button>
  </ng-container>
</div>
