<mat-list [ngClass]="['list', alertCondition ? '' : 'has-content']">
  <ng-container *ngIf="alertCondition">
    <div class="alert-container">
      <mat-icon fontSet="material-icons-outlined" color="primary" class="icon">info</mat-icon>
      <div class="caption">
        <h1 *ngIf="title" class="title mat-title">{{ title }}</h1>
        <p *ngIf="description" class="description mat-body-2">{{ description }}</p>
      </div>
    </div>
  </ng-container>
  <div class="content-container">
    <ng-content></ng-content>
  </div>
</mat-list>
