<mat-list-item *ngIf="!actionItem" class="main-container">
  <div class="line" mat-line>
    <p *ngIf="title" class="title">{{ title }}</p>
  </div>
  <div class="line" mat-line>
    <p *ngIf="subtitle" class="subtitle">{{ subtitle }}</p>
  </div>

  <button type="button" mat-icon-button (click)="clickEvent.emit()" [disabled]="disabled">
    <mat-icon fontSet="material-icons-outlined" class="button__icon">{{ icon }}</mat-icon>
  </button>
</mat-list-item>

<mat-list-item class="main-container" mat-ripple *ngIf="actionItem" (click)="clickEvent.emit()">
  <div class="line" mat-line>
    <p *ngIf="title" class="title">{{ title }}</p>
  </div>
  <div class="line" mat-line>
    <p *ngIf="subtitle" class="subtitle">{{ subtitle }}</p>
  </div>

  <mat-icon fontSet="material-icons-outlined" class="button__icon">{{ icon }}</mat-icon>
</mat-list-item>

<mat-divider></mat-divider>
