<mat-card class="main-container">
  <img [ngClass]="['image', !userIsAdmin ? 'image--donor' : '']" [src]="projectData.image" />

  <div class="caption">
    <span
      class="status--secondary"
      *ngIf="projectIsPrivate && (layout.isDesktop$ | async) !== true"
    >
      Dado de baja
    </span>

    <div class="header">
      <div class="info__container">
        <div class="info">
          <mat-card-title class="title">{{ projectData.title }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{ projectData.subtitle }}</mat-card-subtitle>
        </div>
        <span
          class="status--primary"
          *ngIf="projectIsPrivate && (layout.isDesktop$ | async) === true"
        >
          Dado de baja
        </span>
      </div>
      <mat-card-actions class="actions">
        <ng-container *ngIf="projectData.actions.type === 'button'">
          <ng-container *ngFor="let item of projectData.actions.data">
            <button
              class="action"
              type="button"
              mat-icon-button
              xPosition="before"
              [matTooltip]="item.label ?? ''"
              (click)="item.click()"
            >
              <mat-icon>{{ item.icon ?? 'more_vert' }}</mat-icon>
            </button>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="projectData.actions.type === 'menu'">
          <button
            class="action"
            type="button"
            mat-icon-button
            xPosition="before"
            [matTooltip]="'Más opciones'"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of projectData.actions.data">
              <button class="action__item" type="button" mat-menu-item (click)="item.click()">
                {{ item.label }}
              </button>
            </ng-container>
          </mat-menu>
        </ng-container>
      </mat-card-actions>
    </div>

    <mat-card-content class="content">
      <p [ngClass]="['description', !userIsAdmin ? 'description--donor' : '']">
        {{ projectData.description }}
      </p>

      <app-amount-progress
        *ngIf="!userIsAdmin"
        [type]="'mobile'"
        [targetAmount]="projectData.targetAmount"
        [currentAmount]="450000 || projectData.currentAmount"
      ></app-amount-progress>

      <div class="CTA__container">
        <button
          class="CTA--primary"
          *ngIf="!userIsAdmin"
          type="button"
          [color]="'primary'"
          (click)="projectData.primaryCTA()"
          mat-flat-button
          [matTooltip]="'Donar'"
        >
          Donar
        </button>
        <button
          class="CTA--secondary"
          type="button"
          [color]="'primary'"
          (click)="projectData.secondaryCTA()"
          mat-button
          [matTooltip]="'Ver más'"
        >
          Ver más
        </button>
      </div>
    </mat-card-content>
  </div>
</mat-card>
