<div [ngClass]="['container', fullWidth ? 'full-width' : '']">
  <div class="title__container">
    <button
      type="button"
      *ngIf="backButton"
      class="button--primary"
      mat-icon-button
      [matTooltip]="'Volver'"
      (click)="backButton()"
    >
      <mat-icon fontSet="material-icons-outlined">chevron_left</mat-icon>
    </button>

    <h1 *ngIf="title" class="title">{{ title }}</h1>
  </div>

  <ng-container *ngFor="let section of buttons">
    <div [ngClass]="[section.style === 'primary' ? 'no-dense' : 'dense']">
      <ng-container *ngFor="let item of section.data">
        <!-- Button Primary -->
        <button
          type="button"
          *ngIf="item.action.type === 'button' && section.style === 'primary'"
          class="button--primary"
          mat-icon-button
          [matTooltip]="item.label"
          (click)="item.action.click()"
        >
          <mat-icon fontSet="material-icons-outlined" *ngIf="item.icon">{{ item.icon }}</mat-icon>
        </button>

        <!-- Button Secondary - Mobile -->
        <button
          type="button--secondary"
          *ngIf="
            (layout.isDesktop$ | async) === false &&
            item.action.type === 'button' &&
            section.style === 'secondary'
          "
          mat-icon-button
          color="primary"
          [matTooltip]="item.label"
          (click)="item.action.click()"
        >
          <mat-icon fontSet="material-icons-outlined" *ngIf="item.icon">{{ item.icon }}</mat-icon>
        </button>

        <!-- Button Secondary - Desktop -->
        <button
          type="button--secondary"
          *ngIf="
            (layout.isDesktop$ | async) === true &&
            item.action.type === 'button' &&
            section.style === 'secondary'
          "
          mat-button
          color="primary"
          [matTooltip]="item.label"
          (click)="item.action.click()"
        >
          <mat-icon fontSet="material-icons-outlined" *ngIf="item.icon">{{ item.icon }}</mat-icon>
          <span class="label">{{ item.label.toUpperCase() }}</span>
        </button>

        <!-- Menu -->
        <button
          type="button"
          *ngIf="item.action.type === 'menu'"
          class="button--primary"
          mat-icon-button
          [matTooltip]="item.label"
          [matMenuTriggerFor]="buttonMenu"
          (click)="item.action.click()"
        >
          <mat-icon fontSet="material-icons-outlined" *ngIf="item.icon">{{ item.icon }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>

<mat-menu #buttonMenu="matMenu" class="menu">
  <ng-content></ng-content>
</mat-menu>
