<app-modal-container [size]="'small'">
  <h1 class="title">Olvidé mi contraseña</h1>

  <p class="description">
    Vamos a enviarte un correo electrónico para que puedas cambiar tu contraseña
  </p>

  <form class="reset-password-form" (ngSubmit)="resetPassword()" [formGroup]="forgotPasswordForm">
    <mat-form-field class="reset-password-form__field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Ingresá tu correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
      <mat-error>{{ getErrors('email') }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="reset-password-form__submit"
      [color]="'primary'"
      mat-flat-button
      [disabled]="!forgotPasswordForm.valid"
    >
      Enviar correo electrónico
    </button>
  </form>

  <p class="extra-links__register">
    <span class="extra-links__text">¿No tenés una cuenta?</span>
    <a class="extra-links__button" mat-button [color]="'primary'" [routerLink]="'/auth/register'"
      >Registrate aquí</a
    >
  </p>

  <p class="extra-links__login">
    <span class="extra-links__text">También podés</span>
    <a class="extra-links__button" mat-button [color]="'primary'" [routerLink]="'/auth/login'"
      >Iniciar sesión aquí</a
    >
  </p>
</app-modal-container>
