<app-modal-container class="form-container" [size]="'small'">
  <h1 class="form-container__title--primary">Olvidé mi contraseña</h1>
  <p class="form-container__description">
    Vamos a enviarte un correo electrónico para que puedas cambiar tu contraseña
  </p>

  <div class="form__container">
    <form class="form" (ngSubmit)="resetPassword()" [formGroup]="form">
      <!-- Email -->
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          placeholder="Ingresá tu correo electrónico"
          type="email"
          autocomplete="email"
          formControlName="email"
        />
        <mat-error>{{ getErrors('email') }}</mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button
        type="submit"
        class="form__submit"
        [color]="'primary'"
        mat-flat-button
        [disabled]="!form.valid"
      >
        Enviar correo electrónico
      </button>
    </form>
  </div>

  <div class="extra-links__container">
    <div class="extra-links__button-group">
      <p class="extra-links__button-label">¿No tenés una cuenta?</p>
      <button
        class="extra-links__button"
        type="button"
        mat-button
        [color]="'primary'"
        [routerLink]="'/auth/register'"
      >
        Registrate aquí
      </button>
    </div>

    <div class="extra-links__button-group">
      <p class="extra-links__button-label">También podés</p>
      <button
        class="extra-links__button"
        type="button"
        mat-button
        [color]="'primary'"
        [routerLink]="'/auth/login'"
      >
        Iniciar sesión aquí
      </button>
    </div>
  </div>
</app-modal-container>
