<app-modal-container>
  <h1 class="title">Restablecimiento de contraseña</h1>

  <form
    class="form"
    (ngSubmit)="resetPassword()"
    [formGroup]="forgotPasswordForm"
  >
    <mat-form-field class="field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Escribe tu correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
    </mat-form-field>

    <button
      type="submit"
      class="submit"
      mat-stroked-button
      [disabled]="!forgotPasswordForm.valid"
    >
      Recuperar contraseña
    </button>
  </form>

  <p class="signup">
    ¿No tienes una cuenta?
    <a mat-button [routerLink]="'/auth/register'">Regístrate aquí</a>
  </p>
  <p class="login">
    También puedes
    <a mat-button [routerLink]="'/auth/login'">Iniciar sesión aquí</a>
  </p>
</app-modal-container>
