<app-modal-container>
  <app-toolbar
    [title]="'Mis donaciones'"
    [buttons]="toolbarButtons"
    [backButton]="backButtonAction"
    [fullWidth]="true"
  ></app-toolbar>

  <app-list-alert
    description="Hasta el momento, no se han realizado donaciones"
    [alertCondition]="donations.length === 0"
  >
    <ng-container *ngFor="let donation of donations; index as i">
      <app-list-item
        [title]="donation.projectName"
        [subtitle]="
          (donation.createdDate | date: 'MM/dd/yyyy') + ' - ' + (donation.amount | currency: 'ARS')
        "
        icon="chevron_right"
        (clickEvent)="goToDonationDetails(donation.id)"
        [actionItem]="true"
        [status]="setListItemStatus(donation.status)"
      ></app-list-item>
    </ng-container>
  </app-list-alert>
</app-modal-container>
