<app-modal-container>
  <app-list-header title="Proyectos" [buttons]="buttonsData">
    <button mat-menu-item (click)="getProjects('all')">
      <p>Todos los proyectos</p>
    </button>
    <mat-divider></mat-divider>

    <button mat-menu-item (click)="getProjects('finished')">Proyectos finalizados</button>
    <button mat-menu-item (click)="getProjects('inProgress')">Proyectos en curso</button>
    <button mat-menu-item (click)="getProjects('public')">Proyectos en alta</button>
    <button mat-menu-item (click)="getProjects('private')">Proyectos dados de baja</button>
  </app-list-header>

  <mat-list class="project-list">
    <app-list-alert
      alert="No hay proyectos"
      [alertCondition]="(cardData?.length ?? 0) === 0"
    ></app-list-alert>
    <ng-container *ngFor="let item of cardData; index as i">
      <app-project-card
        [id]="item.id"
        [image]="item.image"
        [title]="item.title"
        [subtitle]="item.subtitle"
        [description]="item.description"
        [status]="item.status"
        [visibility]="item.visibility"
      >
        <button mat-menu-item [routerLink]="['/admin/edit-project', item.id]">
          Editar detalles
        </button>
        <button mat-menu-item (click)="action()">Ver métricas</button>
        <button
          mat-menu-item
          *ngIf="item.visibility === 'PUBLIC'"
          (click)="setProjectPrivate(item.id)"
        >
          Dar de baja
        </button>
        <button
          mat-menu-item
          *ngIf="item.visibility === 'PRIVATE'"
          (click)="setProjectPublic(item.id)"
        >
          Dar de alta
        </button>
      </app-project-card>
    </ng-container>
  </mat-list>
</app-modal-container>
