<app-modal-container [withPadding]="false">
  <div class="title__container">
    <span class="title mat-title">Crear proyecto</span>
  </div>

  <form class="project-data-form" (ngSubmit)="submitProjectData()" [formGroup]="createProjectForm">
    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingresá el nombre del proyecto" formControlName="name" />
      <mat-error>{{ getErrors('name') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Provincia</mat-label>
      <mat-select
        autocomplete="address-level1"
        formControlName="province"
        (selectionChange)="getLocalitiesByProvince($event.value)"
      >
        <mat-option *ngFor="let province of provinces" [value]="province">
          {{ province }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getErrors('province') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Localidad</mat-label>
      <mat-select autocomplete="address-level2" formControlName="locality">
        <mat-option *ngFor="let locality of localities" [value]="locality">
          {{ locality }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getErrors('locality') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Información</mat-label>
      <textarea
        class="text-area"
        rows="3"
        matInput
        placeholder="Ingresá la descripción del proyecto"
        formControlName="description"
      ></textarea>
      <mat-error>{{ getErrors('description') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Monto objetivo</mat-label>
      <input
        matInput
        placeholder="Ingresá el monto de dinero objetivo a recaudar"
        formControlName="targetAmount"
      />
      <mat-error>{{ getErrors('targetAmount') }}</mat-error>
    </mat-form-field>

    <div class="img__container">
      <p class="img__title">Imágenes</p>

      <p class="img__heading">Foto de Portada</p>
      <app-upload-image (loadImage)="setCoverPhoto($event)"></app-upload-image>

      <p class="img__heading">Imágenes</p>
      <div class="img__images">
        <ng-container *ngTemplateOutlet="uploadPhotosCarrousel"></ng-container>
      </div>
      <p class="img__note">Usá imágenes con un tamaño de archivo inferior a 5 MB</p>
    </div>

    <mat-form-field class="project-data-form__field" appearance="outline">
      <mat-label>Video</mat-label>
      <input matInput placeholder="Ingresá el link del video de YouTube" formControlName="video" />
      <mat-error>{{ getErrors('video') }}</mat-error>
    </mat-form-field>

    <div class="buttons-container">
      <button
        type="button"
        class="project-data-form__cancel"
        [color]="'primary'"
        [routerLink]="'/admin/projects'"
        mat-stroked-button
      >
        Cancelar
      </button>
      <button type="submit" class="project-data-form__submit" [color]="'primary'" mat-flat-button>
        Crear proyecto
      </button>
    </div>
  </form>
</app-modal-container>

<ng-template #uploadPhotosCarrousel>
  <app-upload-image
    (loadImage)="setPhotos($event, 0)"
    (unloadImage)="deletePhoto(0)"
  ></app-upload-image>
  <app-upload-image
    *ngIf="photos[0] || photos[1]"
    (loadImage)="setPhotos($event, 1)"
    (unloadImage)="deletePhoto(1)"
  ></app-upload-image>
  <app-upload-image
    *ngIf="photos[1] || photos[2]"
    (loadImage)="setPhotos($event, 2)"
    (unloadImage)="deletePhoto(2)"
  ></app-upload-image>
  <app-upload-image
    *ngIf="photos[2] || photos[3]"
    (loadImage)="setPhotos($event, 3)"
    (unloadImage)="deletePhoto(3)"
  ></app-upload-image>
  <app-upload-image
    *ngIf="photos[3] || photos[4]"
    (loadImage)="setPhotos($event, 4)"
    (unloadImage)="deletePhoto(4)"
  ></app-upload-image>
</ng-template>
