<footer>
  <mat-toolbar class="footer">
    <a [routerLink]="'/'">
      <div class="logo"></div>
    </a>
    <p class="description mat-body-1">
      Esto es una descripción de la iniciativa Scholas y su misión en la
      comunidad
    </p>
    <div class="social-networks">
      <button mat-icon-button class="icon-button">
        <mat-icon>people</mat-icon>
      </button>
      <button mat-icon-button class="icon-button">
        <mat-icon>people</mat-icon>
      </button>
      <button mat-icon-button class="icon-button">
        <mat-icon>people</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</footer>
