.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 0;

  background-color: #30aaa6;
}

.brand__logo {
  max-width: 100%;
  height: 4rem;
  margin-left: 1rem;
}

.brand__description {
  max-width: 22rem;

  margin-right: auto;
  margin-left: 1rem;

  color: #fff;

  white-space: normal;
}

.social-networks__caption {
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: 1rem;

  color: #fff;
  text-transform: uppercase;
}

.social-networks__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 0 1rem;
}

.social-network__icon {
  color: #fff;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  padding: 1rem;

  background-color: #009993;
}

.copyright__message {
  width: 100%;
  margin-bottom: 0.5rem;

  color: #fff;
  text-align: center;
}

.copyright__extra-info {
  width: 100%;

  color: #fff;
  text-align: center;
}

.copyright__privacy-policy {
  color: #fff;
}
