:host {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;

  padding: 0 1rem;
}

.title {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  border-radius: 0.25rem;

  background-color: #009993;

  color: #fff;
}
