<div class="container">
  <h1 class="title">{{ title }}</h1>

  <div class="buttons">
    <ng-container *ngFor="let item of buttons">
      <button
        type="button"
        *ngIf="item.action.type === 'link'"
        class="button"
        mat-icon-button
        [matTooltip]="item.label"
        [routerLink]="item.action.callback() ?? ''"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>

      <button
        type="button"
        *ngIf="item.action.type === 'button'"
        class="button"
        mat-icon-button
        [matTooltip]="item.label"
        (click)="item.action.callback()"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>

      <button
        type="button"
        *ngIf="item.action.type === 'menu'"
        class="button"
        mat-icon-button
        [matTooltip]="item.label"
        [matMenuTriggerFor]="buttonMenu"
        (click)="item.action.callback()"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    </ng-container>
  </div>
</div>

<mat-menu #buttonMenu="matMenu" class="menu">
  <ng-content></ng-content>
</mat-menu>
