/* Social login */

.social-login__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

/* Email login */

.email-login__title {
  margin-top: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form__field {
  width: 100%;
  padding-bottom: 0.5rem;
}

.login-form__submit {
  width: 100%;
}

/* Extra links */

.extra-links__signup {
  margin-top: 1rem;
}
