<app-modal-container class="form-container" [size]="'small'">
  <h1 class="form-container__title--primary">Iniciar sesión</h1>

  <div class="social-buttons__container">
    <p class="social-buttons__title">Iniciá sesión con</p>
    <div class="social-buttons__buttons">
      <app-social-button [method]="'google'" (clicked)="login('google')"></app-social-button>
      <!-- <app-social-button [method]="'facebook'" (clicked)="login('facebook')"></app-social-button> -->
    </div>
  </div>

  <div class="form__container">
    <p class="form__title">O usá tu correo electrónico</p>
    <form class="form" (ngSubmit)="login('email')" [formGroup]="form">
      <!-- Email -->
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          placeholder="Ingresá tu correo electrónico"
          type="email"
          autocomplete="email"
          formControlName="email"
        />
        <mat-error>{{ getErrors('email') }}</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Ingresá tu contraseña"
          [type]="hidePassword ? 'password' : 'text'"
          autocomplete="current-password"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon class="form__field-icon" fontSet="material-icons-outlined">{{
            hidePassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
        <mat-error>{{ getErrors('password') }}</mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button
        type="submit"
        class="form__submit"
        [color]="'primary'"
        mat-flat-button
        [disabled]="!form.valid"
      >
        Iniciar sesión
      </button>
    </form>
  </div>

  <div class="extra-links__container">
    <button
      class="extra-links__button"
      type="button"
      mat-button
      [color]="'primary'"
      [routerLink]="'/auth/forgot-password'"
    >
      ¿Olvidaste tu contraseña?
    </button>

    <div class="extra-links__button-group">
      <p class="extra-links__button-label">¿No tenés una cuenta?</p>
      <button
        class="extra-links__button"
        type="button"
        mat-button
        [color]="'primary'"
        [routerLink]="'/auth/register'"
      >
        Registrate aquí
      </button>
    </div>
  </div>
</app-modal-container>
