<app-modal-container>
  <h1 class="title">Iniciar sesión</h1>

  <p class="social-login__title">Usa una de tus redes sociales</p>
  <div class="social-login__buttons">
    <button class="login-button" mat-stroked-button (click)="login('google')">
      <mat-icon class="login-button__icon" svgIcon="google"></mat-icon>
      <span class="login-button__text">Google</span>
    </button>
    <button class="login-button" mat-stroked-button (click)="login('facebook')">
      <mat-icon class="login-button__icon" svgIcon="facebook"></mat-icon>
      <span class="login-button__text">Facebook</span>
    </button>
  </div>

  <p class="email-login__title">O usa tu correo electrónico</p>
  <form class="login-form" (ngSubmit)="login('email')" [formGroup]="loginForm">
    <mat-form-field class="login-form__field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Ingrese su correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />

      <mat-error>{{ getErrors('email') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="login-form__field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Ingrese su contraseña"
        type="password"
        autocomplete="current-password"
        formControlName="password"
      />
      <mat-error>{{ getErrors('password') }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="login-form__submit"
      mat-stroked-button
      [disabled]="!loginForm.valid"
    >
      Iniciar sesión
    </button>
  </form>

  <p class="extra-links__signup">
    ¿No tienes una cuenta?
    <a mat-button [routerLink]="'/auth/register'">Regístrate aquí</a>
  </p>

  <a class="extra-links__forgot-password" mat-button [routerLink]="'/auth/forgot-password'"
    >¿Olvidaste tu contraseña?</a
  >
</app-modal-container>
