<app-modal-container [size]="'small'">
  <h1 class="title">Registro de administrador</h1>

  <p class="description">
    Agregá el email de la persona designada para que empiece a ser administrador
  </p>

  <form class="new-admin-form" (ngSubmit)="setNewAdmin()" [formGroup]="newAdminForm">
    <mat-form-field class="new-admin-form__field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="Ingresá tu correo electrónico"
        type="email"
        autocomplete="email"
        formControlName="email"
      />

      <mat-error>{{ validation.getErrors(newAdminForm.controls['email']) }}</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="new-admin-form__submit"
      [color]="'primary'"
      mat-flat-button
      [disabled]="!newAdminForm.valid"
    >
      Agregar administrador
    </button>
  </form>
</app-modal-container>
