<app-modal-container size="small">
  <div class="content">
    <div class="user-info">
      <img class="profile-photo" [src]="photoURL" alt="Foto de Perfil" />
      <p class="username">{{ displayName }}</p>
      <p class="email">{{ email }}</p>
    </div>

    <mat-action-list class="action__container">
      <button class="action__item" mat-list-item [routerLink]="'/auth/account/update'">
        <mat-icon class="action__item" fontSet="material-icons-outlined">person</mat-icon>
        <span>Mis datos</span>
      </button>

      <button
        class="action__item"
        mat-list-item
        [routerLink]="'/donor/donations'"
        *ngIf="(auth.user$ | async)?.claims?.donor ?? false"
      >
        <mat-icon class="action__item" fontSet="material-icons-outlined"
          >volunteer_activism</mat-icon
        >
        <span>Mis donaciones</span>
      </button>

      <button class="action__item" mat-list-item (click)="auth.deleteUser()">
        <mat-icon class="action__item" fontSet="material-icons-outlined">delete</mat-icon>
        <span>Eliminar mi cuenta</span>
      </button>
    </mat-action-list>
  </div>
</app-modal-container>
