<div class="images-carrousel__container">
  <div class="images-carrousel__item" *ngFor="let image of images; index as i">
    <button class="button--delete-image" *ngIf="image" type="button" mat-icon-button>
      <mat-icon (click)="deleteImage(i)">close</mat-icon>
    </button>
    <img *ngIf="image" class="image" [src]="image" alt="Imagen subida por el usuario" />
  </div>

  <button
    *ngIf="images.length < maxUploads"
    type="button"
    class="button--upload-image"
    mat-icon-button
    (click)="FileInput.click()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<input
  #FileInput
  type="file"
  class="file-input"
  (change)="onFilesChange($event)"
  accept="image/jpeg"
  [multiple]="maxUploads !== 1"
/>
